<ion-header>
  <ion-toolbar>
    <ion-title>Social Me</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/posts/new">Add post</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-post *ngFor="let post of posts" [loadedPost]="post"></app-post>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-buttons>
        <ion-button routerLink="/posts/edit">Edit Page</ion-button>
        <ion-button routerLink="/posts/post-detail">Detail Page</ion-button> 
        <ion-button routerLink="/auth">Logout</ion-button>
      </ion-buttons>
    </ion-row>
  </ion-grid>
</ion-content>
