<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ArtBazaar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-post *ngFor="let post of posts" [loadedPost]="post"></app-post>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-buttons class="buttonbar">
  <ion-button center (click)="onRandomPost()">
    <ion-icon name="color-wand"></ion-icon>
    <ion-label>Charm me</ion-label>
  </ion-button>
  <ion-button center routerLink="/posts/new">
    <ion-icon name="add-circle"></ion-icon>
    <ion-label>Add Post</ion-label>
  </ion-button>
</ion-buttons>
