<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/posts'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedPost?.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        color="primary"
        [routerLink]="['/', 'posts', 'edit', loadedPost?.id]"
      >
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger" (click)="deletePost(loadedPost?.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img [src]="loadedPost?.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-label>Description</ion-label>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-text>{{ loadedPost?.description }}</ion-text>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-list>
              <ion-item>
                <ion-label>Artist</ion-label>
                {{ loadedPost?.artist }}
              </ion-item>
              <ion-item>
                <ion-label>Location</ion-label>
                {{ loadedPost?.location }}
              </ion-item>
              <ion-item>
                <ion-label>Posted on</ion-label>
                {{ loadedPost?.created_at | date }}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
